<?xml version="1.0" encoding="utf-8"?> 
<configuration>  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="s1" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="s2" value="https://dotnet.myget.org/F/dotnet-web/api/v3/index.json" />
  </packageSources>
</configuration>