// Colors
$color-brand: #3063f5;
$color-light: #afb3be;
$color-semi-dark: #484f63;
$color-dark: #071022;

$color-danger: #ff5252;
$color-success: #0aca91;

$color-separator: #dfe2e8;

$color-background-light: #fff;
$color-background-dark: #f4f6fa;
$color-background-active: #ffdc3a;

// Fonts
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-semibold: 800;
$font-weight-black: 900;

$sm-minwidth: 544px;
$md-minwidth: 768px;
$lg-minwidth: 992px;
$xl-minwidth: 1200px;